/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body,
html {
    height: 100%;
}

body {
    line-height: 1;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End CSS Reset */
:root {
    --background: white;
    --primary-color: #00426a;
    --secondary-color: #2774ae;
    --tertiary-color: #ffc600;
    --quaternary-color: #e07a29;
    --text-color: #4a4b4d;
    --other-1: #768692;
    --other-2: #a4bcc2;
    --other-3: #d0d3d4;
    --important: #ff0000;
}

body {
    background: var(--background);
    color: var(--text-color);
    font-family: Courier, monospace;

    .hidden {
        display: none;
    }

    & > * {
        margin-bottom: 40px;
    }
}

button {
    border: 2px dashed var(--primary-color);
    background: var(--background);
    color: var(--text-color);
    font-family: Courier, monospace;
    font-size: 1rem;
}

form {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;

    #drop_zone {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        border: 3px dashed var(--primary-color);
        padding: 25px;

        .upload {
            display: flex;
            flex-flow: column nowrap;
            gap: 5px;
        }
    }

    .legend .required {
        color: var(--important);
    }

    button {
        padding: 10px;
        font-weight: bolder;
        color: var(--primary-color);
    }

    label {
        color: var(--primary-color);
        position: relative;

        &.required::after {
            content: '*';
            position: absolute;
            color: var(--important);
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px;
    padding: 25px 0px;
    text-align: center;

    .logo .padlet_logo {
        height: 100px;
        width: auto;
    }
}

.main {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 0 10px;
}

.pop_ups {
    position: absolute;
    background: rgba(14, 14, 14, 0.397);
    height: 100%;
    width: 100%;
    top: 0;

    .backdrop {
        position: absolute;
        background: red;
    }
}

@media only screen and (min-width: 767px) {
    .header {
        .logo .padlet_logo {
            height: 120px;
            width: auto;
        }
    }
}
@media only screen and (min-width: 991px) {
}
@media only screen and (min-width: 1279px) {
}
