/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body,
html {
    height: 100%;
}

body {
    line-height: 1;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End CSS Reset */
:root {
    --background: #fffefa;
    --primary-color: #384b70;
    --primary-color-faded: hsla(220, 17%, 17%, 0.5);
    --secondary-color: #507687;
    --tertiary-color: #dbe2ef;
    --quaternary-color: #e07a29;
    --text-color: #4a4b4d;
    --other-1: #768692;
    --other-2: #a4bcc2;
    --other-3: #d0d3d4;
    --important: #b8001f;
}

body {
    background: var(--background);
    color: var(--text-color);
    font-family: Courier, monospace;

    .hidden {
        display: none;
    }

    .container {
        border: 5px solid green;
        background: var(--background);
        padding: 30px 20px;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .backdrop,
    .click-backdrop {
        box-sizing: border-box;
        position: absolute;
        top: 0;

        background: rgba(15, 15, 15, 0.4);
        height: 100%;
        width: 100%;
        padding: 30px 20px;
        overflow-y: scroll;

        margin: auto 0;
    }

    &.no-scroll {
        overflow-y: hidden;
    }

    & > * {
        margin-bottom: 40px;
    }

    button {
        padding: 10px;
        font-weight: bolder;
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
        background: var(--background);
        font-family: Courier, monospace;
        font-size: 1rem;
    }
}

form {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;

    #drop_zone {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        border: 2px dashed var(--primary-color-faded);
        padding: 25px;

        .upload {
            display: flex;
            flex-flow: column nowrap;
            gap: 5px;
        }
    }

    .legend .required {
        color: var(--important);
    }

    label {
        color: var(--primary-color);
        position: relative;
        font-weight: 600;

        &.required::after {
            content: '*';
            position: absolute;
            color: var(--important);
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    margin: 10px 0;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px;
    padding: 25px 0px;
    text-align: center;

    .logo .padlet_logo {
        height: 100px;
        width: auto;
    }
}

.importing {
    border: 5px solid red;

    .container {
        border: 5px solid blue;
    }
}

.main {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 0 10px;
}

@media only screen and (min-width: 767px) {
    .header {
        .logo .padlet_logo {
            height: 120px;
            width: auto;
        }
    }
}
@media only screen and (min-width: 991px) {
}
@media only screen and (min-width: 1279px) {
}
